
@import "base/reset";
@import "fonts/satoshi";
@import "base/exeptions";
@import "base/helpers";
@import "base/layout";
@import "base/spaces";

:root {
  --color-background: 38, 38, 38;
  --color-gray: 65, 65, 65;
  --color-brown: 222, 191, 171;
  --color-white: 245, 232, 223;

  --color-blue: 62, 104, 207;
  --color-blue-light: 113, 145, 223;
  --color-orange: 247, 152, 20;
  --color-orange-light: 255, 192, 104;
  --color-pink: 254, 152, 192;
  --color-pink-light: 255, 214, 230;

  --color-red: 255, 59, 48;
  --color-green: 52, 199, 89;

  --font-fancy: "Satoshi", sans-serif;
  --font-main: "Inter", sans-serif;

  --horizontal-marge: 12%;

  --radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(var(--color-background));

  color: rgb(var(--color-white));
  font-family: var(--font-main);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  padding: 0 var(--horizontal-marge);
}

.link {
  color: rgb(var(--color-brown));
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgb(var(--color-brown));
    transition: opacity .2s ease;
  }

  &:hover::after {
    opacity: 1;
  }
}


@import "layouts/navbar";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/form";

@import "components/button";
@import "components/alert";
@import "components/modal";
@import "components/project-card";

@import "typescale";

// custom styles for views
@import "views/home";