
@import "satoshi.css";

:root {
  --color-background: 38, 38, 38;
  --color-gray: 65, 65, 65;
  --color-brown: 222, 191, 171;
  --color-white: 245, 232, 223;

  --color-blue: 62, 104, 207;
  --color-blue-light: 113, 145, 223;
  --color-orange: 247, 152, 20;
  --color-orange-light: 255, 192, 104;
  --color-pink: 254, 152, 192;
  --color-pink-light: 255, 214, 230;

  --font-fancy: "Satoshi", sans-serif;
  --font-main: "Inter", sans-serif;

  --horizontal-marge: 12%;
}

body {
  background: rgb(var(--color-background));

  color: rgb(var(--color-white));
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 2rem var(--horizontal-marge);
}


@import "layouts/navbar";
@import "components/button";
