
h1, h2, h3, h4 {
  font-family: var(--font-fancy);
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.4rem;
}

@mixin text-color() {
  $colors: ("background", "gray", "brown", "white", "blue", "orange", "pink", "red", "green");

  @each $color in $colors {
    .color-#{$color} {
      color: rgb(var(--color-#{$color}));
    }
  }
}

@include text-color();