
.btn,
input[type="submit"] {
  --color-text: rgb(var(--color-background));
  --color-text-hover: rgb(var(--color-brown));
  --color-bg: rgb(var(--color-brown));
  --color-bg-hover: rgb(var(--color-background));
  --color-border: rgb(var(--color-brown));

  padding: .8rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: inherit;
  font-weight: 500;
  color: var(--color-text);

  border-radius: var(--radius);
  background: var(--color-bg);
  border: 1px solid var(--color-border);

  cursor: pointer;

  transition: box-shadow .3s ease, background-color .3s ease, color .3s ease;

  &:hover {
    background: var(--color-bg-hover);
    color: var(--color-text-hover);
    box-shadow: 0 0 0 1px var(--color-border);
  }

  &.sb {
    justify-content: space-between;
  }

  &.btn-rounded {
    padding: 1rem;
    border-radius: 1000px;
  }

  &.btn-small {
    padding: 0 1rem;

    &.btn-rounded {
      padding: .5rem;
    }
  }

  &.btn-gray {
    --color-bg: rgb(var(--color-gray));
    --color-text: rgb(var(--color-brown));
    --color-border: rgb(var(--color-gray));
  }

  &.btn-danger {
    --color-bg: rgb(var(--color-red));
    --color-text: rgb(var(--color-background));
    --color-text-hover: rgb(var(--color-red));
    --color-border: rgb(var(--color-red));
  }
}

