
.project-card {
  overflow: hidden;

  border: 2px solid rgb(var(--color-gray));
  border-radius: 20px;

  transition: transform .3s ease, border .3s ease;

  &:hover {
    transform: scale(1.02);
    border: 2px solid rgb(var(--color-brown));

    .bottom {
      --color: rgb(var(--color-brown));
      color: rgb(var(--color-background));
    }
  }

  .tasks {
    min-height: 10rem;
    max-height: 10rem;
    overflow: hidden;
    padding: 1rem 2rem;
    z-index: 4;
  }

  .bottom {
    --color: rgb(var(--color-gray));
    padding: 1rem 2rem;
    background: var(--color);
    position: relative;

    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1.2rem;

    transition: background-color .2s ease, color .2s ease;

    &::after,
    &::before {
      --size: 2rem;
      content: "";
      width: var(--size);
      height: var(--size);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);

      transition: background-color .2s ease;
    }

    &::before {
      width: calc(var(--size) + 2px);
      height: calc(var(--size) + 2px);
      background: rgb(var(--color-background));
      z-index: 2;
      border-radius: 0 0 0 1000px;
    }

    &::after {
      background: var(--color);
    }

    .remaining-time {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .4rem;

      svg {
        margin-bottom: .35rem;
      }
    }
  }
}

.member-card {
  height: fit-content;
  //padding: 1rem 2rem;
  //padding: 0 2rem;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(var(--color-gray));
  border-radius: var(--radius);
  border: 2px solid rgb(var(--color-gray));

  .username {
    padding: 1rem 2rem;
  }

  .attributes {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    min-width: 40%;
    //padding: .5rem 1rem;

    transition: opacity .2s ease;

    & > div:first-child {
      width: 110%;
    }

    & > div {
      width: 100%;
      padding: .5rem 1rem;
      background: rgb(var(--color-background));
      border-radius: 5px;

      display: flex;
      justify-content: space-between;
      gap: 1rem;

      span:first-child {
        font-size: 0.9rem;
        font-style: italic;
      }

      &:not(:last-child) {
        border-bottom: 2px solid rgb(var(--color-gray));
      }
    }
  }

  .buttons {
    height: 100%;
    padding: .5rem .5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;

    display: flex;
    justify-content: flex-end;
    gap: .5rem;

    border-radius: 5px;
    background: rgb(var(--color-background));

    transition: opacity .3s ease;

    @for $i from 1 through 2 {
      a:nth-child(#{$i}), button:nth-child(#{$i}) {
        transition: transform .3s ease;
        transform: translateY(calc(#{$i} * 10px));
      }
    }
  }

  &:hover {
    .buttons {
      opacity: 1;

      a, button {
        transform: translateY(0);
      }
    }

    .attributes {
      opacity: 0;
    }
  }

}