
.kanban-grid {
  width: auto;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  margin-top: 2rem;
}

.kanban-column {
  min-height: 60vh;
  min-width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background: rgba(var(--color-gray), .6);
  border-radius: var(--radius);

  & > header {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(var(--color-gray));
  }


}