.page-sticky {
  width: 100%;
  top: 0;
  z-index: 10;
  position: sticky;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100vh;
}

.radius-medium {
  border-radius: var(--radius);
}

.radius-high {
  border-radius: 20px;
}